button {
    width: 15%;
    margin: 2.5%;
}

button.heal {
    appearance: none;
    border-color: #82B366;
    border-radius: 10px;
    border-width: medium;
    background: #D5E8D4;
    color: #000;
    padding: 8px 16px;
    font-size: 16px;
}

button.heal:hover {
    background: #c1daba;
}

button.heal:focus {
    outline: none;
    box-shadow: 0 0 0 4px #ebf6e8;
}

button.take {
    appearance: none;
    border-color: #B85450;
    border-radius: 10px;
    border-width: medium;
    background: #F8CECC;
    color: #000;
    padding: 8px 16px;
    font-size: 16px;
}

button.take:hover {
    background: #dab6b4;
}

button.take:focus {
    outline: none;
    box-shadow: 0 0 0 4px #fae9e8;
}
/* normal   #4676D7
   hover    #1d49aa
   focus    #cbd6ee
 */